.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  padding: 16px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);

  .title {
    display: flex;
    flex-direction: row;
    height: 100%;
    img {
      height: 100%;
    }
    color: black;
  }

  button {
    background-color: #74ba43;
    border-color: #74ba43;
    border-radius: 6px;
    border-width: 0px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
    color: #ffffff;
    padding: 16px;
  }
}

.footer {
  background-color: #0f1f2b;
  color: rgba(255, 255, 255, 0.5);
  Ul{
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
    display: inline;
  }
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgba(66, 117, 143, 1);
  color: #fff;
  padding: 16px;
}

.product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product {
  width: 200px;
  background-color: white;
  color: black;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.822);
}
.product:hover{
  cursor: pointer;
}

.product-image {
  width: 100%;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  margin-top: 8px;
}

.product-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (max-width: 978px) {
  .product {
    width: 150px;
  }
}